!!! XML
%html
  %head
    %title #{@message}
    - if auth?
      %link{:rel => 'apple-touch-icon', :href => session[:twitter_icon]}
    %meta{:name => 'viewport', :content => 'width=device-width, user-scalable=no'}
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/main.css", :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/fonts.css", :type => 'text/css'}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/jquery.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/tweet.js"}
    %script{:type => 'text/javascript', :src => 'http://platform.twitter.com/widgets.js'}
    :javascript
      var app_root = "#{app_root}";
      var message = "#{@message}";
      var auth = #{auth?};
  %body
    %div#content
      %h1
        %a{:href => app_root}= @title
      %div#twitter
        %div#login
          - unless auth?
            %a{:href => "#{app_root}/login"} [login twitter]
          - else
            %img{:src => session[:twitter_icon], :width => 24, :height => 24}
            %a{:href => "http://twitter.com/#{session[:twitter_name]}"}
              @#{session[:twitter_name]}
            &nbsp;|&nbsp;
            %a{:href => "#{app_root}/logout"} [logout]
      %div#message= @message
      - if auth?
        %div.button#tweet tweet
      - else
        %div.button.button_disable#tweet tweet
      %div#log
      %div#info
        %ul
          %li ホーム画面にブックマークすると便利です
          %li
            %a{:href => 'http://twitter.com/share', :class => 'twitter-share-button',
               'data-url' => "#{app_root}/t/#{URI.encode @message}", 'data-count' => 'horizontal',
               'data-text' => "#{@message}ボタン #tweet_button"}
              Tweet
        %a{:id => 'info'} [?]
        %div#detail
          %ul
            %li
              iPhoneのホーム画面にTweetボタンを作るサービスです
            %li
              by
              %a{:href => 'http://twitter.com/shokai'} @shokai
            %li
              source code : 
              %a{:href => 'https://github.com/shokai/tweetbutton'} github

